{
    "branches": [
        "master",
        "main",
        "dev"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "successComment": "The Docker image for this release of tadis-ui is available at `ghcr.io/${{github.repository_owner}}/tadis-ui:${{nextRelease.version}}`."
            }
        ],
        "@semantic-release/git"
    ]
}
